<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Copyright Act</title>
</head>
<body>
    <h1>Copyright Act</h1>
    <h2>Choose Engine</h2>
    <p align="left"><a href=copyright/tfidf><button class=grey style="height:100px;width:300px">Simple</button></a></p>
    <p align="left"><a href=copyright/ft><button class=grey style="height:100px;width:300px">Medium</button></a></p>
    <p align="left"><a href=copyright/bert><button class=grey style="height:100px;width:300px">Deep</button></a></p>
    <h3>Technical info:</h3>
    <p>Simple is tfidf.</p>
    <p>Medium is fasttext.</p>
    <p>Deep is BERT.</p>
    <br>
    <p><a href=/>Home</a></p>
</body>
</html>