<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LegisMapper</title>
</head>
<body>
    <h1>Transjurisdictional Transformers</h1>
    <h2>Choose Singapore Legislation</h2>
    <p align="left"><a href=copyright><button class=grey style="height:100px;width:300px">Copyright Act</button></a></p>
    <p align="left"><a href=trademarks><button class=grey style="height:100px;width:300px">Trade Marks Act</button></a></p>
    <p align="left"><a href=dataprotection><button class=grey style="height:100px;width:300px">Personal Data Protection Act</button></a></p>

    <h2>UI 💯</h2>
</body>
</html>